<div class="container-fluid">
    <h1>Show player</h1>
    <table class="table table-striped">
      <tr>
        <td>Name</td>
        <td><%= @player.name %></td>
      </tr>
      <tr>
        <td>Image</td>
        <td><%= image_tag(@player.image_url.to_s, :height => "200") %></td>
      </tr>
    </table>
    <%= link_to 'Index', admin_players_path, class: "btn btn-primary" %>
</div>
