<div class="gallery under-triangle">
  <div class="container mov-container">
    <div class="gallery-grids">
      <% @galleries.each do |gallery| %>
        <div class="col-lg-4" >
          <div>
            <%= video_tag(gallery.image_url.to_s, :class => "img-responsive", :size => "640x352", :controls => true) %>
            <div class="rotate">
              <span class="glyphicon glyphicon-search gl-icn" aria-hidden="true"></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <script type="text/javascript">
$(document).ready(function(){
  $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
});
  </script>
</div>
