<div class="footer">
    <div class="container">
        <div class="col-md-4 ft logo">
            <div class="logo fot">
               <h1><%= link_to 'Devaldo Rojo', root_path %></h1>
            </div>
        </div>
        <div class="col-md-4 ft cpyrt">
            <p>Copyright &copy; 2017</a></p>
        </div>
      <!--  <div class="col-md-4 ft soc">
            <ul class="social">
                <li><a href="#" class="face"></a></li>
                <li><a href="#" class="twit"></a></li>
                <li><a href="#" class="gplus"></a></li>
                <li><a href="#" class="inst"></a></li>
                <li><a href="#" class="pint"></a></li>
            </ul>
        </div>-->
        <!--<div class="clearfix"></div> -->
    </div>
</div>
